<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Safety-Map Home</title>

    <style>
        .inputaddr{
            display: flex;

            z-index: 1;
            position: absolute;
            left: 50%;      /*화면의 왼쪽으로부터 50% 이동*/
            transform:translateX(-50%); /*자신의 크기 절반만큼 왼쪽으로 이동*/
        }
        .input_block{
           
        }
        #map{
            z-index: 0;
            position: relative;
        }
    </style>
    
    
</head>
<body>    
    
    <!-- startPoint, EndPoint InPut -->
    <div class='inputaddr'>
        <div >
            <div class ='start_input'>
                <input  type="text" placeholder="출발지를 입력하세요">
            </div>
            <div class ='end_input'>
                <input  type="text" placeholder="목적지를 입력하세요">
            </div>
        </div>
       
        <div class ='input_block'>
            <button type="submit" > 길찾기 </button>
        </div>
    </div>
    <!-- 전체 지도 -->
    <div id='map'>
        {{map|safe}}
    </div>
    
</body>
</html>