{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Safety-Map Home</title>

    <script type="text/javascript"> var setpointpage = "{% url 'getspotpoint' %}" </script>
    <script defer src="https://code.jquery.com/jquery-3.2.1.min.js"></script>          <!--JQuery-->
    <script defer src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>     <!-- 주소검색 api-->
    <script defer src ="{% static 'js/home.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/home.css' %}?ver=2">
    
    
</head>
<body>    
    
    <!-- startPoint, EndPoint InPut -->
    <div class='inputaddr'>
            <div>
                <div id ='start_input' >
                    <input id ='StartAddr' name='StartAddr' type="text" placeholder="출발지를 입력하세요" >
                </div>
                <div id ='end_input'>
                    <input id ='EndAddr' name='EndAddr' type="text" placeholder="목적지를 입력하세요" >
                </div>
            </div>
           
            <div class ='input_block'>
                <button id='find_botton' type="submit" > 길찾기 </button> 
            </div>        
    </div>
    <!-- 전체 지도 -->
    <div id='map'>
        {{map|safe}}
    </div>
</body>
</html>