.inputaddr{
    display: flex;

    z-index: 1;
    position: absolute;
    left: 50%;      /*화면의 왼쪽으로부터 50% 이동*/
    transform:translateX(-50%); /*자신의 크기 절반만큼 왼쪽으로 이동*/
}

#map{
    z-index: 0;
    position: relative;
}